<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crosssellers">
    <!--
    //==================================================================//
    //
    // This app requires the use of these permission(s)
    //
    //==================================================================//
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProfileActivity"></activity>
        <activity android:name=".MallInsightActivity_Tenant" />
        <activity android:name=".MallInsightActivity_Competitor" />
        <activity android:name=".MallInsightActivity_Floorfall" />
        <activity android:name=".EditPromoPostActivity" />
        <activity android:name=".EditCPlatformPostActivity" />
        <activity android:name=".ProfileActivity_CPromotionView" />
        <activity android:name=".ProfileActivity_CPlatformView" />
        <activity android:name=".ShopInsightActivity_Product" />
        <activity android:name=".ShopInsightActivity_Customer" />
        <activity android:name=".ShopInsightActivity_Home" />
        <activity android:name=".CPromotionCreateActivity" />
        <activity android:name=".CPromotionViewActivity" />
        <activity android:name=".CPromotionHomeActivity" />
        <!--
        //==================================================================//
        //
        // Starting Activity (Splash Screen)
        //
        //==================================================================//
        -->
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!--
            //==================================================================================//
            // This code below will make this activity be the 1st activity to show in the app
            //==================================================================================//
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        //==================================================================//
        //
        // Other Activity(s)
        //
        //==================================================================//
        -->
        <activity android:name=".SelectMallActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".SelectMallActivity" />
        <activity android:name=".DashboardActivity"
            android:theme="@style/JoelTheme"/>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".SelectMallActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".SelectMallActivity" />
        <activity
            android:name=".CPlatformHomeActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".PromotionActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".MallInsightActivity_Home"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".CPlatformViewActivity"
            android:parentActivityName=".CPlatformHomeActivity" />
        <activity android:name=".SetupProfileActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".CPlatformCreateActivity"
            android:parentActivityName=".CPlatformHomeActivity" />
        <activity
            android:name=".ShopInsightActivity_Sales"
            android:parentActivityName=".ShopInsightActivity_Home">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>